<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
  <link rel="icon" type="image/x-icon" href="/book-open-outline.png">
  <link rel="stylesheet" href="/style.css" />
  <script src="./script.js" defer></script>
</head>
<body>
  <div class="modal-background"></div>
  <div class="loader"><div class="loader-spinner"></div></div>
  <div class="add-book-modal-background">
    <div class="add-book-modal">
      <div class="close-modal-container">
        <button class="close-modal-button">&times;</button>
      </div>
      <form class="modal-form">
        <input type="text" class="title" placeholder="Add a title" aria-required="true"/>
        <input type="text" class="author" placeholder="Add an author" aria-required="true"/>
        <button class="submit-book-button">Submit</button>
      </form>
    </div>
  </div>
  <div class="edit-modal-background">
    <div class="edit-book-modal">
      <div class="close-edit-modal-container">
        <button class="close-edit-modal-btn">&times;</button>
      </div>
      <form class="edit-modal-form">
        <input type="text" class="edit-title">
        <input type="text" class="edit-author">
        <button type="submit" class="edit-submit-book-btn">Edit</button>
      </form>
    </div>
  </div>
  <div class="sign-up-modal-background">
    <div class="sign-up-modal">
      <div class="close-sign-up-modal-container">
        <button class="close-sign-up-modal-btn">&times;</button>
      </div>
      <form class="sign-up-modal-form">
        <h3 class="modal-title">SIGN UP</h3>
        <input name="username" type="text" id="sign-up-username" placeholder="Add a username" autocomplete="off">
        <input name="email" type="email" id="sign-up-email" placeholder="Add an email" autocomplete="off">

        <input name="password" type="password" id="sign-up-password" placeholder="Add a password" autocomplete="off">
        <input nam="confirm-password" type="password" id="sign-up-confirm-password" placeholder="Confirm password" autocomplete="off">
        <button type="submit" class="sign-up-form-btn">Sign up</button>
      </form>
    </div>
  </div>
  <div class="log-in-modal-background">
    <div class="log-in-modal">
      <div class="close-log-in-modal-container">
        <button class="close-log-in-modal-btn">&times;</button>
      </div>
      <form class="log-in-modal-form"  method="post">
        <h3 class="modal-title">LOG IN</h3>
        <input type="text" id="log-in-username" placeholder="Username" required autocomplete="off">
        <input type="password" id="log-in-password" placeholder="Password" required autocomplete="off">
        <button type="submit" class="log-in-form-btn">Log in</button>
      </form>
    </div>
  </div>
  <header>
    <a href="#" class="logo-link">
      <div class="logo">
        <svg style="width:48px;height:48px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21,4H3A2,2 0 0,0 1,6V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V6A2,2 0 0,0 21,4M3,19V6H11V19H3M21,19H13V6H21V19M14,9.5H20V11H14V9.5M14,12H20V13.5H14V12M14,14.5H20V16H14V14.5Z" />
        </svg>
        <span class="logo-lettering">Library</span>
      </div>
    </a>
    <nav class="nav-links">
      <ul>
        <a class="sign-up-button">
          <li>Sign Up</li>
        </a>
        <a class="log-in-button">
          <li>Log In</li>
        </a>
      </ul>
    </nav>
  </header>
  <main>
    <div class="button-container">
      <button class="add-book-button">Add a book</button>
    </div>
    <div class="card-container">
      <div class="welcome-container"></div>
    </div>
  </main>
  <footer>
    Copyright &copy; 2023 Joshua Meeks
  </footer>
</body>
</html>